{% macro copyright() %}
    {%- if config.extra.copyright -%}
        <div class="copyright copyright--user">{{ config.extra.copyright | safe }}</div>
    {%- else -%}
        <div class="copyright">
            <span>© {{ now() | date(format="%Y") }} Xi Xiao :: <a href="https://github.com/xixiaofinland">Github</a></span>
            <span>:: <a href="https://www.linkedin.com/in/xixiaofinland/">LinkedIn</a></span>
        </div>
    {%- endif -%}
{% endmacro copyright %}

{% macro script() %}
    <script type="text/javascript" src="{{ get_url(path="assets/js/main.js") }}"></script>
{% endmacro script %}
